<footer>
    <%
        let y = new Date().getFullYear();
    %>
    <div>Bicycle Store <%= y %></div>
        <div>
            <a href="/contact" class="btn btn-primary">Contact Us</a>
        </div>
</footer>