<header>
        <div><a href="/" class="btn btn-primary">Home</a></div>
        <div><p>Bicycle Store</p></div>
        <div>
            <% if(locals.user){ %>
                <%= user.name %>
                <a href="/sign-out" class="btn btn-primary">Sign Out</a> </li>
            <% }else{ %>
                <a href="/sign-in" class="btn btn-primary">Sign In</a>
                <a href="/sign-up" class="btn btn-primary">Sign Up</a>
            <% } %>
        </div>
        
</header>