<link rel="stylesheet" href="/css/home.css">

<section id="items" class="container-fluid">
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/cycle5.png" alt="phone">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Youth Bicycle
                </div>
                <div class="row">
                        ₹9000.00
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button class="btn btn-outline-info">Buy Now</button>
                </div>
        </div>
    </div>

    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/cycle4.jpg" alt="BSA cycles">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        BSA cycles Unisex bicycle
                </div>
                <div class="row">
                        ₹6,900.00
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button class="btn btn-outline-info">Buy Now</button>
                </div>
        </div>
    </div>
    
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/cycle3.jpg" alt="Leader Scout MTB">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Leader Scout MTB 26T
                </div>
                <div class="row">
                        ₹4,999.00
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button class="btn btn-outline-info">Buy Now</button>
                </div>
        </div>
    </div>
    
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/cycle2.jpeg" alt="Wolverine 29T">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Wolverine 29T
                </div>
                <div class="row">
                       ₹18,999.00
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button class="btn btn-outline-info">Buy Now</button>
                </div>
        </div>
    </div>
    
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/cycle1.jpeg" alt="classic cycle">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Atlas cycle
                </div>
                <div class="row">
                        ₹5000.00
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button class="btn btn-outline-info">Buy Now</button>
                </div>
        </div>
    </div>
    
</section>